
:root{
    background-color:#181818 ;
}
body{
    padding: 0%;
    margin: 0%;
    width: 100%;
}
.main{
    display: flex;
    flex-direction: row;
}
/*Sidebar*/
.Sidebar{
    padding-top: 2vh;
    background-color: #212121;
    width: 21vw;
    display: flex;
    flex-direction: column;
    row-gap:3vh;
}
.Sidebar>p{
color: white;
}
.First{
    display: flex;
    column-gap: 1vw;
    margin-left: 3vw;
}
.First>img{
    height: 4vh;  
}

/*Second*/
.Second{
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    
}
#Subsecond{
    background-color: #383838;
       display: flex;
       flex-direction: row;
       column-gap: 1.5vw;
       width: 16vw;
       padding-left: 3vw;
      
}
.Subsecond{
    display: flex;
    flex-direction: row;
    column-gap: 1.5vw;
    width: 16vw;
}
.subsecondmain{
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    padding-left: 3vw;
    padding-bottom: 3vh;
    border-bottom: 1px solid gray ;

}
.Home{
    height: 5vh;

}
.Homedisc{
    height: 5.5vh;
    align-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    
}

/*Third*/
.mainthird{
    width: 16vw;
    padding-left: 3vw;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    border-bottom: 1px solid gray;
    padding-bottom: 3vh;
}
.subthird{
    display: flex;
    flex-direction: row;
    column-gap: 1.5vw;
    width: 16vw;
}

/*Four*/
.mainfour{
    width: 16vw;
    padding-left: 3vw;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    border-bottom: 1px solid gray;
    padding-bottom: 3vh; 
}
.mainfour>h3{
    opacity: 0.5;
    color: White;
    font-family: Arial, Helvetica, sans-serif;
}
.subfour{
    display: flex;
    flex-direction: row;
    column-gap: 1.5vw;
    width: 16vw;
}
/*Sidebar End*/

/*Main Portion*/
/*Topbar*/
.Mainbar{
    display: flex;
    flex-direction: column;
    width: 76vw;
    padding-left: 3vh;
}
.Topbar{
    display: flex;
    flex-direction: row;
    padding-top: 2vh;
    justify-content: space-between;
    border-bottom: 1px solid gray;
padding-bottom: 2vh;
/* margin-left: 2vw; */

}
.mainsearch{
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
   margin-left: 11vw;

}
.searchbar{
    display: flex;
    border: 0.1px solid gray;
    border-radius: 10px;
    
}
.searchbar>input{
    /* border-radius: 5px; */
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    width: 23vw;
    background-color: rgb(24, 24, 24);
    border-right: none;
    border-bottom: none;
    font-size: large;
}
.subsearch{
    border-radius:0px 10px 10px 0px;
    width: 3.5vw;
    height: 5.2.5vh;
    align-content: center;
    background-color:rgb(50, 50, 50) ;
    text-align: center;
}
.searchicon{
    height: 5.05vh;
    width: 2.2vw;
}
.voice{
    align-content: center;
}
.voice>img{
    width: 5vh;
}
.upicon{
margin-right: 2.5vh;
   align-content: center;
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
}
.upicon>img{
    height: 4.5vh;
}
/*Second-bar*/
.Secondbar{
    display: flex;
    border-bottom: 1px solid gray;
   
}
.Topdisc{
    display: flex;
    column-gap: 1vw;
}
.Secondbar>div>p{
    color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #383838;
    
}
#para1{
    color: black;
    background-color: white;
}
.topleft{
    margin-left: -2.2vh;
    width: 7.1vw;
    align-content: center;
    text-align: center;
   background-image: linear-gradient(to right,rgb(33, 33, 33) ,black );
}
/*Secondbar End*/
/*Thirdbar*/
.Thirdbar{
    padding-top: 3vh;
}
.Mainthirdbar{
 padding-left: 2.5vw;
}
.Frame1{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 1.5vw;
    row-gap: 5vh;
}

.Part1{
    position: relative;
}

 .subpart1{
    top: 14.8vh;
    position: absolute;
color: white;
background-color: rgb(228, 186, 147);
opacity: 0.7;
width: 15.7vw;
text-align: center;

 }

 .subpart2{
    opacity: 0.7;
    top: 14.8vh;
    position: absolute;
color: white;
background-color:rgb(31, 4, 16);
width: 15.7vw;
text-align: center;

 }

.Part2{
    margin-top: 0.5vw;
    display: flex;
    column-gap: 1.3vh;
}
.Part2>div>span{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.verify{
    height: 2vh;
}
.sslogo{
    
    height: 4vh;
}
.Part2>div{
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}
.Part2>div>div>div{
    display: flex;
    column-gap: 0.5vw;
}
.Part2>div>div>div>span{
    opacity: 0.5;
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.Lowerdisc{

    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}