body{
    background-color: black;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}
.upeer{
    margin-left: 1.5vw;
    display: flex;
    flex-direction: row;
}
.logo{
    width: 25vh;
}
.child1{
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    margin-top: 4vh;
}
.home{
    width: 6vh;
   
}.subchild12{
    display: flex;
    flex-direction: column;
   row-gap: 3vh;
  width: 15vw;  
  padding-left: 1vh;
  padding-right: 1vh;
}
.homet{
   
    color: white;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    
}
.subsubchild122{
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
    padding-left: 1vh;
    padding-right: 1vh;
}
.subsubchild122:hover{

    background-color: #383838;
    opacity: 0.5;
}
.add{
    width: 5vh;
}
#desc{
    display: flex;
    flex-direction: column;
}
.fav{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

/*Child-2*/
.child2{
    width: 81vw;
    margin-left: 1vh;
    background-color: #202020;
}

.mainchild2{
    margin-left: 5vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    margin-right: 5vh;
}
.child21{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.subchild221{
    display: grid;
    grid-template-columns: auto auto auto ;
    row-gap: 4vh;
    
}
.LR{
    width: 15vh;
}
.gm{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.2rem;
}

.LS{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.3rem;
    height: 8.1vh;
    align-content: center;
}
.frame1{
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
    background-color: rgb(48, 48, 48); 
    width: 20vw;
    border-radius: 5px;
}
.frame1:hover{
    transform:scale(1.05)
}
.LI{
    width: 7vw;
    height: 14vh;
}
/*Child-3*/
.mainchild23{
    margin-right: 5vh;
    display: flex;
    flex-direction: column;
}
.T3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.subchild231{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.T4{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 11vh;
    align-content: center;
}
.subchild232{
    display: grid;
   grid-template-columns: auto auto auto auto ;
   column-gap: 2.5vw;
   row-gap: 4vh;
}
.subchild232>div{
    padding: 15px;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px;
  
}
.subchild232>div:hover{
transform: scale(1.10);
}
.subchild232>div>div{
    text-align: center;
}
.subchild232>div>div>p{
    color: white;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}
.subchild232>div>div>p2{
    color: white;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}


.down{
    display: flex;
    background-color: rgb(24, 24, 24);
    color: white;
    position: sticky;
    bottom: 0%;
    padding-top: 1vh;
    padding-left: 2vh;
    column-gap: 12vw;
}
.uplast{
    display: flex;
    align-content: center;
    column-gap: 3vw;
}
.uplast2{
    padding-top: 2.5vh;
 
}
.uplast1>img{
    height: 10vh;
   
}
.down>.uplast>div{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    column-gap: 1.5vw;
}
.greenheart{
    height: 5vh;
}
.player>img{
    margin-left: 10vh;
padding-top: 1.5vh;
width: 30vw;
}
.player2>img{
    padding-top: 2.5vh;
width: 20vw;
}